html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.git {
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  position: fixed;
  bottom: 80px;
  transition: .3s;
  right: 30px;
  border-radius: 50%;
  padding: 10px 13px;
  cursor: pointer;
}

.git p {
  display: inline-block;
  font-size: 0.9em;
  color: #606060;
  font-weight: 400;
  position: absolute;
  right: 10px;
  top: 13px;
  opacity: 0;
  transition: .3s;
}

.git img {
  width: 20px;
}

.git:hover p{
  opacity: 1;
}

.git:hover {
  padding: 10px 70px 10px 10px;
  border-radius: 10px;
}
