body {
  background: #eaeaea;
}

main {
            width: 100%;
        }

        .content {
            background-color: white;
            max-width: 600px;
            margin: auto;
            padding: 40px 30px;
        }

        .content h1 {
            color: #282252;
            padding-left: 8px;
            border-left: 3px solid #26be80;
        }

        .content .desc {
            color: #282252;
            padding-top: 20px;
            font-size: 17px;
            border-bottom: 2px solid #ccc;
            padding-bottom: 8px;
            margin-bottom: 100px;
        }

        .content label {
            display: block;
            color: #282252;
            font-size: 18px;
            margin-bottom: 15px;
            padding-bottom: 7px;
            cursor: pointer;
            border-bottom: 2px solid #26be80;
        }
        
        .content label:hover {
          background: #eee;
        }

        .content textarea {
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            color: #282252;
            resize: none;
            padding: 20px;
            border: 1px solid #ccc;
            width: 100%;
            height: 300px;
            outline: none;
            transition: .3s;
        }

        .content textarea:hover {
            border: 1px solid #26be80;
        }

        .content button {
            width: 100%;
            padding: 15px;
            letter-spacing: 1px;
            border: none;
            outline: none;
            margin-top: 10px;
            background-color: #26be80;
            color: white;
            transition: .3s;
        }
   
        .content button:hover {
            background: #1fa770;
        }
        
        .content ul {
          margin-top: 20px;
          margin-left: 13px;
          font-size: 17px;
          transition: .3s;
        }
        
        .content ul:hover {
          transform: translateY(-5px);
        }
        
        .content ul li {
          color: #282252;
        }
        
        .content img {
          width: 100%;
          margin-top: 15px;
          border: 1px solid #ccc;
          padding: 5px;
          border-radius: 8px;
          transition: .5s;
        }
        
        .content img:hover {
          border: 1px solid #26be80;
          box-shadow: 3px 5px 20px rgba(0,0,0,.1);
        }
        
        .content .typeTxt {
          font-size: 17px;
          margin-top: 20px;
          color: #282252;
        }
       footer {
         width: 100%;
         padding: 30px 0;
         background: #282252;
         text-align: center;
       }