body {
  background: #211C44;
}

main {
  overflow: hidden;
  font-family: arial;
  height: 90vh;
  width: 100%;
  display: flex;
}

h1 {
  color: #6278F0;
  font-size: 40px;
  position: relative;
  margin: auto;
}

h1:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 990;
  height: 1.2em;
  width: 100%;
  background: #211C44;
  border-left: 2px solid #eaeaea;
  animation: typing 3s steps(15) infinite;
}

@keyframes typing {
70% {
    left: 110%;
  }
100% {
border-left: 2px solid #fff;
}
}
