:root {
  --primary: #0f3ac9;
  --success: #0fb438;
  --disable: #777777;
  --danger: #b60b0b;
  --wall: gray;
  --cell: #040e2e;
  --black: #0c1924;
  --stroke: #082c4b;
  --grid-size: 7;
  --cell-size: 60px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at center, #040f31, #000000);
  color: white;
  user-select: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.none {
  display: none !important;
}

.alert {
  padding: 10px 20px;
  position: fixed;
  top: -20vh;
  right: 50vw;
  transform: translateX(50%);
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  color: white;
  z-index: 9999;
}

.alert.show {
  top: 20px;
}

.alert-success {
  background-color: var(--success);
}

.alert-danger {
  background-color: var(--danger);
}

#homeScreen {
  text-align: center;
}

#homeScreen h2 {
  font-family: monospace;
  letter-spacing: 4px;
  font-size: 1rem;
  color: var(--primary);
}

#homeScreen h1 {
  font-size: 3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  animation: 0.7s float alternate ease-in-out infinite;
}

@keyframes float {
  from {
    transform: rotate(1deg);
  }

  to {
    transform: rotate(-1deg);
  }
}

.input {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: var(--black);
  width: 100%;
  color: white;
  text-align: center;
  margin: 35px 0 15px 0;
}

.input:focus {
  box-shadow: 0 0 0 1px var(--primary);
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0;
}

.btn:active::after {
  opacity: 0.2;
}

.btn:disabled:active::after {
  opacity: 0;
}

.btn:hover {
  transform: scale(0.97);
}

.btn:disabled:hover {
  transform: scale(1);
}

.btn:disabled {
  cursor: not-allowed;
  background-color: var(--disable);
}

.btn-primary {
  background-color: var(--primary);
  color: white;
}

.btn-success {
  background-color: var(--success);
  color: white;
}

.btn-danger {
  background-color: var(--danger);
  color: white;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  background-color: var(--black);
  padding: 10px 20px;
  border-radius: 4px;
}

#maze {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  border: thin dashed var(--primary);
  border-radius: 4px;
}

.cell {
  background-color: var(--stroke);
  border: thin solid var(--cell);
  border-radius: 4px;
}

.goal {
  background-color: var(--success);
}

.wall {
  background-color: var(--wall);
}

.player {
  background-color: var(--primary);
}

.btn-game {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn-ui,
.btn-controls {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
}

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 999;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
}

.modal-content {
  padding: 30px 40px;
  border-radius: 8px;
  background-color: var(--cell);
}

.modal-content h2 {
  margin-bottom: 25px;
}

.btn-modal {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 30px;
  gap: 5px;
}

ul {
  padding-left: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th,
td {
  padding: 10px 20px;
  border: thin solid white;
}

#modalLeaderboard .modal-content div:first-child,
#modalInstructions .modal-content div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.btn-close-modal {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
}

.btn-close-modal:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-controls .btn {
  padding: 11px 20px;
}

.btn-controls .btn:hover {
  transform: scale(1);
}

@media (max-width: 560px) {
  :root {
    --cell-size: 45px;
  }

  body {
    height: 90vh;
  }

  .modal-content {
    margin: 0 15px;
  }
}
